<head>
  <title>Pablo Nunez Fernandez</title>
  <link rel="stylesheet" href="../style.css" />
  <link rel="icon" href="../icons/favicon.png" type="image/png" />
</head>
<body>
  <header>
    <button class="btn" onclick="window.location.href='../index.html'">
      Volver
    </button>
    <nav class="nav">
      <a class="nav-link" href="./actualizar.html">Actualizar</a>
      <a class="nav-link" href="./crear.html">Insertar</a>
      <a class="nav-link" href="./borrar.html">Borrar</a>
    </nav>
  </header>
  <div class="container">
    <h1>Consultar</h1>
  </div>
</body>
